[submodule "src/lib/snarky"]
	path = src/lib/snarky
	url = https://github.com/minatools/snarky
[submodule "src/external/ppx_optcomp"]
	path = src/external/ppx_optcomp
	url = https://github.com/minatools/ppx_optcomp
[submodule "src/external/async_kernel"]
	path = src/external/async_kernel
	url = https://github.com/CodaProtocol/async_kernel
[submodule "src/external/ocaml-extlib"]
	path = src/external/ocaml-extlib
	url = https://github.com/CodaProtocol/ocaml-extlib.git
[submodule "src/external/rpc_parallel"]
	path = src/external/rpc_parallel
	url = https://github.com/CodaProtocol/rpc_parallel.git
[submodule "frontend/wallet/tablecloth"]
	path = frontend/wallet/tablecloth
	url = https://github.com/bkase/tablecloth
[submodule "src/external/graphql_ppx"]
	path = src/external/graphql_ppx
	url = https://github.com/minatools/graphql_ppx
[submodule "src/lib/marlin"]
	path = src/lib/marlin
	url = https://github.com/minatools/marlin
[submodule "src/external/ppx_version"]
	path = src/external/ppx_version
	url = https://github.com/minatools/ppx_version
[submodule "src/external/ppx_optcomp/"]
	url = https://github.com/minatools/ppx_optcomp
